/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

html {
	overflow: hidden;
  height: 100%;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif, Arial, Helvetica;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section {
	height:100vh;
}

.first-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  -webkit-transform-style: inherit;
          transform-style: inherit;
}

.first-section:before {
	content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  -webkit-transform: translateZ(-1px) scale(2.1);
          transform: translateZ(-1px) scale(2.1);
	background:  -webkit-gradient(linear, left top, left bottom, from(rgba(227,101,136, 0.4)), to(rgba(31,3,34, .9))), url("./../images/background.jpg") no-repeat;
	background:  -o-linear-gradient(top, rgba(227,101,136, 0.4), rgba(31,3,34, .9)), url("./../images/background.jpg") no-repeat;
	background:  linear-gradient(to bottom, rgba(227,101,136, 0.4), rgba(31,3,34, .9)), url("./../images/background.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 0;
	z-index: -2;
}

.first-section:after {
	position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background:  -webkit-gradient(linear, left top, left bottom, from(rgba(31,3,34, 0.5)), to(rgba(31,3,34, .5)));
	background:  -o-linear-gradient(top, rgba(31,3,34, 0.5), rgba(31,3,34, .5));
	background:  linear-gradient(to bottom, rgba(31,3,34, 0.5), rgba(31,3,34, .5));
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}

.section-dark:after {
  opacity: 1;
}

.second-section {
  background: #736B92;
  -webkit-box-shadow: 0 0 20px #333;
          box-shadow: 0 0 20px #333;
  z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 15px;
}

.third-section {
	position: relative;
	z-index: -1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.third-section:before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
	background:  -webkit-gradient(linear, left top, left bottom, from(rgba(31,3,34, .9)), to(rgba(11, 3, 34, .8))), url("./../images/background.jpg") no-repeat;
	background:  -o-linear-gradient(top, rgba(31,3,34, .9), rgba(11, 3, 34, .8)), url("./../images/background.jpg") no-repeat;
	background:  linear-gradient(to bottom, rgba(31,3,34, .9), rgba(11, 3, 34, .8)), url("./../images/background.jpg") no-repeat;
	background-size: cover;
	background-position: 50% 0;
}

.go-down-link {
	font-size: 14px;
	font-weight: bold;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 25px;
}

.go-down-link--upper {
	z-index: 10;
}


.animated-circle {
	display: inherit;
	width: 70px;
	height: 70px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
	top: -15px;
	left: -15px;
	z-index: 1;
	-webkit-animation: zoomIn 2s infinite;
	        animation: zoomIn 2s infinite;
}

.arrow-down-container {
	position: relative;
	padding: 5px 10px 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	width: 20px;
	height: 20px;
}

.arrow-down {
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 2px solid #fff;
	border-right: 2px solid transparent;
	border-top: 2px solid transparent;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.text-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	z-index: auto;
	position: absolute;
	top: 5vw;
	left: 5vw;
}

.text-container--upper {
	z-index: 10;
}

.text {
	color: #fff;
}

.text--title {
	font-size: 40px;
	text-align: center;
	font-family: 'Exo', sans-serif, Arial, Helvetica;
	text-shadow: 2px 2px #06070E;
}

.text--highlight {
	display: inline-block;
	color: 	#736B92;
	text-shadow: 2px 2px #DAD4EF;
}

/*.projects-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
	-ms-grid-columns: auto 10px auto 10px auto 10px auto 10px auto;
	grid-template-columns: repeat(5, auto);
	grid-auto-flow: column;
	grid-auto-columns: minmax(auto, 1fr);
	overflow-x: auto;
}

.projects-container::-webkit-scrollbar {
	display: none;
}*/

.project {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.project-thumb {
	width: 80vw;
	max-width: 600px;
}

.project-description {
	color: #fff;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.slide-buttons-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}

.slide-button {
	background-color: transparent;
	border: none;
	border-radius: 50%;
}

.slide-button:focus { 
	outline: 0;
	box-shadow: 0 0 15px 5px rgba(255, 255, 255, .6);
}

.slide-button--left {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.slide-button--right {
	-webkit-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.presentation {
	height: auto;
	width: auto;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
	padding: 20px;
	position: relative;
	max-width: 800px;
	color: rgba(0, 0, 0, 0.7);
	margin: 0 40px;
}

.profile-card-container {
	opacity: 0;
}

.profile-card-container--visible {
	opacity: 1;
	-webkit-animation: fadein .7s linear;
	        animation: fadein .7s linear;
}

.profile-card-container {
	display: -ms-grid;
	display: grid;
	overflow: auto;
	grid-auto-columns: auto;
	grid-auto-rows: minmax(100px, auto);
	    grid-template-areas: 
		"avatar"
		"information"
		"description";
}

.go-to-top-link {
	position: absolute;
	bottom: 5px;
	right: 5px;
	text-decoration: none;
	transform: rotate(180deg);
}

.profile-card__avatar-container {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: avatar;
	width: 20vw;
	height: 20vw;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	max-width: 200px;
	min-width: 100px;
	max-height: 200px;
	min-height: 100px;
	-ms-grid-column-align: center;
	    justify-self: center;
	margin-bottom: 20px;
	border: 6px solid #736B92;
}

.profile-card__avatar {
	width: 20vw;
	position: absolute; 
	max-width: 200px;
	min-width: 100px;
}

.profile-card__information {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: information;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-self: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.profile-card__name {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
}

.profile-card__title {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 5px;
}

.profile-card__location {
	font-size: 15px;
}

.profile-card__location-icon {
	width: 13px;
}

.profile-card__social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 180px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 10px 0;
}

.profile-card__description {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: description;
	-ms-grid-row-align: center;
	    align-self: center;
	padding: 0;
}

.footer {
	color: #fff;
	text-align: center;
	background-color: #736B92;
}

.stars {
	display: none;
}

.star {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .9em;
	margin-right: .9em;
	margin-bottom: 1.2em;
}

.star:before, .star:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: .6em;
	left: -1em;
	-webkit-transform: rotate(-35deg);
	    -ms-transform: rotate(-35deg);
	        transform: rotate(-35deg);
}
  
.star:after {  
    -webkit-transform: rotate(35deg);  
        -ms-transform: rotate(35deg);  
            transform: rotate(35deg);
}

.stars li {
	position: absolute;
	display: block;
	list-style: none;
	-webkit-animation: animate 25s linear infinite;
	        animation: animate 25s linear infinite;
	bottom: -150px;
    
}

.stars li:nth-child(1) {
	left: 25%;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	font-size: 24px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   .3em solid transparent;
}


.stars li:nth-child(2) {
	left: 10%;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	-webkit-animation-duration: 12s;
	        animation-duration: 12s;
	font-size: 14px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(3) {
	left: 70%;
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
	font-size: 28px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(4) {
	left: 40%;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-duration: 18s;
	        animation-duration: 18s;
	font-size: 15px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(5) {
	left: 65%;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	font-size: 20px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(6) {
	left: 75%;
	-webkit-animation-delay: 3s;
	        animation-delay: 3s;
	font-size: 22px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(7) {
	left: 35%;
	-webkit-animation-delay: 7s;
	        animation-delay: 7s;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(8) {
	left: 50%;
	-webkit-animation-delay: 15s;
	        animation-delay: 15s;
	-webkit-animation-duration: 45s;
	        animation-duration: 45s;
	font-size: 10px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(9) {
	left: 20%;
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
	-webkit-animation-duration: 35s;
	        animation-duration: 35s;
	font-size: 12px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(10) {
	left: 85%;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-duration: 11s;
	        animation-duration: 11s;
	font-size: 16px;
	border-right:  .3em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   .3em solid transparent;
}

.stars li:nth-child(1):before, .stars li:nth-child(1):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   1em solid transparent;
}


.stars li:nth-child(2):before, .stars li:nth-child(2):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   1em solid transparent;
}

.stars li:nth-child(3):before, .stars li:nth-child(3):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   1em solid transparent;
}

.stars li:nth-child(4):before, .stars li:nth-child(4):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   1em solid transparent;
}

.stars li:nth-child(5):before, .stars li:nth-child(5):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   1em solid transparent;
}

.stars li:nth-child(6):before, .stars li:nth-child(6):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   1em solid transparent;
}

.stars li:nth-child(7):before, .stars li:nth-child(7):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   1em solid transparent;
}

.stars li:nth-child(8):before, .stars li:nth-child(8):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   1em solid transparent;
}

.stars li:nth-child(9):before, .stars li:nth-child(9):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #F9C80E;
	border-left:   1em solid transparent;
}

.stars li:nth-child(10):before, .stars li:nth-child(10):after  {
	border-right:  1em solid transparent;
	border-bottom: .7em  solid #ECA72C;
	border-left:   1em solid transparent;
}

/* flickity configurations*/
.gallery-cell {
  width: 100%;
	margin-right: 10px;
}

.flickity-page-dots {
	bottom: -50px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.flickity-prev-next-button {
	display: none;
}

/* desktop settings*/
@media (min-width:800px) { 
	.animated-circle {
		display: none;
		-webkit-animation: none;
		        animation: none;
	}
	
	.go-down-link:hover .animated-circle {
		display: inherit;
		-webkit-animation: zoomIn 2s infinite;
		        animation: zoomIn 2s infinite;
	}

	.go-down-link:hover .arrow-down-container {
		background: transparent;
	}

	.text--title {
		font-size: 50px;
	}

	.profile-card-container {
		grid-auto-columns: 1fr 2fr;
		    grid-template-areas: 
			"avatar information"
			"description description";
	}

	.profile-card__avatar-container {
		margin-bottom: 20px;
	}

	.profile-card__name {
		font-size: 50px;
	}

	.profile-card__title {
		font-size: 30px;
	}

	.profile-card__location {
		font-size: 20px;
	}

	.profile-card__location-icon {
		width: 16px;
	}

	.profile-card__description {
    padding: 0 30px;
	}
	
	.stars {
		display: inherit;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	
	/* flickity configurations*/
	.flickity-prev-next-button {
		display: inherit;
		width: 60px;
		height: 60px;
		background: transparent;
		background: rgba(255, 255, 255, 0.2);
		border: 1px solid white;
	}
	.flickity-prev-next-button:hover {
		background: transparent;
	}
	
	.flickity-prev-next-button .arrow {
		fill: white;
	}
	
}

/* keyframes */
@-webkit-keyframes animate {
	0%{
			-webkit-transform: translateY(0) rotate(0deg);
			        transform: translateY(0) rotate(0deg);
			opacity: 1;
	}

	100%{
			-webkit-transform: translateY(-1000px) rotate(720deg);
			        transform: translateY(-1000px) rotate(720deg);
			opacity: 0;
	}
}

@keyframes animate {
	0%{
			-webkit-transform: translateY(0) rotate(0deg);
			        transform: translateY(0) rotate(0deg);
			opacity: 1;
	}

	100%{
			-webkit-transform: translateY(-100vh) rotate(720deg);
			        transform: translateY(-100vh) rotate(720deg);
			opacity: 0;
	}
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}